
# Use this file to store secrets like usernames and passwords.
# Learn more at https://www.home-assistant.io/docs/configuration/secrets/
recorder_db_url: mysql://homeassistant:homeassistant@127.0.0.1:3306/homeassistant?charset=utf8
