# Timezone
TZ=CET

# Postgres 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=hass

# MariaDB
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=homeassistant
MYSQL_USER=homeassistant
MYSQL_PASSWORD=homeassistant

# appDaemon
APP_DAEMON_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiI2NzcwNDBhOTFmZjY0YzIyYjUxYzEyZWRkM2M3NzQwZSIsImlhdCI6MTY0MTAwMjQ2MiwiZXhwIjoxOTU2MzYyNDYyfQ.fEN39c658Aq3RQS-Vk2JR81RCuvKWSAobsCm-V_KL5I
APP_DAEMON_LONGITUDE=59.274072
APP_DAEMON_LATITUDE=10.355449
APP_DAEMON_ELEVATION=50

# Tibber
TIBBER_TOKEN=pHcb4asFVPwX4eB6ph0r_frMrYJ0s6oaJdE2SF8_HC0
