requests==2.26.0  # https://github.com/psf/requests
sgqlc==12.1  # https://github.com/profusion/sgqlc
pytz==2021.3  # https://github.com/stub42/pytz

# Testing
pytest==6.2.5  # https://github.com/pytest-dev/pytest
appdaemon-testing==0.1.4  # https://github.com/nickw444/appdaemon-testing

# Tibber
pyTibber==0.22.3  # https://github.com/Danielhiversen/pyTibber
  